@import 'tailwindcss';

:root {
  color-scheme: dark;
}

html,
body,
#app {
  margin: 0;
  min-height: 100%;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}
